/* Fundo */
.bodyBackgroundAustralia {
  background: url("../assets/img/Australia-background.png");
}

.bodyBackgroundBrazil {
  background: url("../assets/img/Brazil-background.png");
}

.bodyBackgroundEgypt {
  background: url("../assets/img/Egypt-background.png");
}

.bodyBackgroundFrance {
  background: url("../assets/img/France-background.png");
}

.bodyBackgroundJapan {
  background: url("../assets/img/Japan-background.png");
}

/* Nome dos países */
.australiaName,
.brazilName,
.egyptName,
.franceName,
.japanName {
  color: #fff;
  font-size: 6em;
  border-bottom: 5px solid white;
}

/* Elementos comuns */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.lineWelcome {
  display: flex;
  align-items: center;
  gap: 10px;
}

.whiteLine {
  height: 4px;
  width: 100px;
  background-color: white;
  border-radius: 15px;
}

.welcomeText {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

.languageContainer {
  position: absolute;
  bottom: 0;
  left: 0%;
  margin: 15px;
}

.languageButton {
  padding: 5px 10px;
  margin: 0 5px;
  background: transparent;
  border-radius: 10px;
  border: 2px solid white;
  cursor: pointer;
  color: white;
  font-weight: 700;
  transition: background-color 0.3s, color 0.3s, opacity 0.3s;
  background-color: transparent;
}

.languageButton:hover {
  opacity: 0.7;
}

.languageButton.active:hover {
  opacity: 1;
  cursor: default;
}
